*{
  font-family: sans-serif;
}
html, body, .container, .sidebar, #mapContainer {
  height: 100%;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.container {
  display: flex;
  min-height: auto;
}

.sidebar{
  height: 100%;
  background: grey;
  width: 425px;
  position: relative;
}

.box1 {
  width: 425px;
  height:400px;
  margin: 0 auto;
  position: relative;
}

.textbox {
  margin-top:50px;
  background-color: #C59B76;
  position: absolute;
  width: 370px;
  height: 700px;
  opacity: 0.84;
  top: -12px;
  padding: 10px;
  left: 15px;
  text-align: left;
  border-radius: 25px;
  border: 3px dashed white;
}

.content {
  padding: 5px 5px;
}

.heading{
  font-family: 'Secular One';
  text-align: center;
  font-size: 28px;
}

.body1{
  text-align: center;
  font-size: 18.5px;
}

.body2{
  text-align: center;
  font-size: 17.5px;
}

h3{
  font-weight: bold;
  text-align: center;
}

.filter-group {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 320px;
  left: 10px;
  z-index: 1;
  columns: 3;
  border-radius: 3px;
  width: 370px;
  color: #fff;
  border:2px solid 'black';
}

.filter-group input[type='checkbox']:first-child + label {
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox'] {
  display: none;
}

.filter-group input[type='checkbox'] + label {
  background-color: #087F8C;
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox'] + label {
  background-color: #42193d;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.25);
  }

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
  background-color: #351431;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox']:checked + label:before {
  content: '✔';
  margin-right: 5px;
}




#mapContainer {
  flex-grow: 1;
}

.legend{
  position: absolute;
  left: 450px;
  top: 30px;
  background-color: white;
  height: 100px;
  width: 190px;
  border: 2px;
  border-style:solid;
  border-color: grey;
  z-index:2;
}

.caption{
  margin: 5px;
  text-align:right;
  padding-top: 8px;
  font-weight:550;
  display: inline-block
}

.icons{
  height: 50px;
  width:30px;
  padding-left: 7px;
  padding-bottom: 0px;
  display:inline-block;
  vertical-align:top;
}

.marker {
   display: block;
   border: none;
   cursor: pointer;
   padding: 0;
   background-size: cover;
}
